<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
              <binding name="http" maxBufferSize="40000000" maxBufferPoolSize="524288" maxReceivedMessageSize="40000000">
                <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="40000000"
                        maxBytesPerRead="16384" maxNameTableCharCount="40000000" />
              </binding>
                <binding name="http1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:5100/PSvc/" binding="basicHttpBinding"
                bindingConfiguration="http" contract="PSearch.IPSearchSvc"
                name="http" />
            <endpoint address="http://localhost:5110/PSvc/" binding="basicHttpBinding"
                bindingConfiguration="http1" contract="PCreate.IHttpCreate"
                name="http1" />
        </client>
    </system.serviceModel>
</configuration>